<!DOCTYPE html>
html(lang="en")
  head
    // Basics
    meta(charset='utf-8')
    title Set title
    // Metas
    meta(name='author' content='Set author')
    meta(name='copyright' content='Set copyright')
    meta(name='description' content='Set description')
    meta(name='keywords' content='key, words')
    meta(name='generator' content='Visual Studio Code')
    meta(name='robots' content='index, follow')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // <meta name="google" content="notranslate">
    // <meta property="og:title" content="Title" />
    // <meta property="og:site_name" content="As above" />
    // <meta property="og:url" content="URL" />
    // <meta property="og:image" content="Image" />
    // <meta property="og:description" content="Description" />
    // <meta property="og:type" content="website" />
    // Links
    link(rel='stylesheet' href='sass/pages/index.scss')
    // <link rel="icon" type="image/png" href="img/favicon.png" />
    // <link rel="canonical" href="Set canonical link" />
  // Scripts
  body
    h1 Test
  script(src='js/index.js')
